<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Price</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="centered-container">
        <div class="form-container">
            <h1 class="title">New Price</h1>
            <form action="/pricing" method="post" class="form">
                <input type="text" placeholder="Enter Name" name="from" class="input"><br><br>
                <input type="number" placeholder="Enter Price" name="price" class="input"><br><br>
                <input type="email" placeholder="Enter Email" name="email" class="input">
                <button class="btn">Post Price</button>
            </form>
        </div>
    </div>
</body>
</html>

